RewriteEngine On

    RewriteCond %{DOCUMENT_ROOT}/assets/$1 -f
    RewriteRule ^(.*)$ assets/$1 [L]

    RewriteCond %{THE_REQUEST} \s/assets/ [NC,OR]
    RewriteCond $1 !^assets/
    RewriteRule ^(.*)$ index.php [L]
