RewriteEngine On

    #Remove folder based routing
    RewriteRule ^(.*)/index\.php$ /$1 [R=301,NC,L]

    #Allow routing only from index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/views
    RewriteRule ^(.*)$ /index.php/$1 [L]
