.card {
    font-size: large;
    font-family: sans-serif;
}

.container {
    width: 65%;
}

.row {
    padding-bottom: 1rem;
}

.copy {
    cursor: pointer;
}

.copied {
    opacity: 0;
}

.hidden {
    display: none;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

label {
    font-weight: bold;
}

hr {
    height: 2px !important;
    color: #333 !important;
    background-color: #333 !important;
}

#snackbar {
    visibility: hidden;
    min-width: 150px;
    margin-left: -125px;
    background-color: #5c5c5c;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
